* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, Ariel, Calibri;
}

.top {
    display: flex;
    align-items: center;
    background-color: #d9dab0;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.top > #logo {
    font-size: 20px;
    font-style: italic;
}

#logo span {
    color: #03506f;
    font-weight: 700;
}

#content p {
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

#rating, #price {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.top nav a {
    font-size: 18px;
    padding: 10px;
    text-align: center;
    color: #03506f;
    font-weight: 700;
}

.container {
   justify-content: center;
    align-items: center;
    padding-top: 20px;
    background-color: #a3ddcb;
}

 .container .img-container {
    position: relative;
    left:25%;
    width: 50%;
}

.img-container img {
    display: inline;
    height:auto;
    justify-content: center;
    max-width: 100%;
}

.container ul {
    display: flex;
    position:relative;
    left:28%;
}

.container ul li {
    list-style: none;
    display: inline-block;
}

.container ul li img {
    max-width: 200px;
    padding: 10px;
}

footer {
    text-align: center;
}